/**
CSS used by forms in micro sites
 */

form{
	color: #2f6473;
background-color: #def2f8;
border-color: #d1edf6;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 0 solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #373a3c;
    text-align: left;
}

.state {
    display: none;
}

.grade {
    display: none;
}

.questionflag {
    display: none;
}

.editable {
    display: none;
}

.editquestion {
    display: none;
}

.accesshide {
    display: none;
}

.btn {
display: inline-block;
font-weight: 400;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
padding: .375rem .75rem;
font-size: .9375rem;
line-height: 1.5;
border-radius: 0;
-webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
-o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-secondary {
    color: #212529;
    background-color: #b8c1ca;
    border-color: #b1bbc4;
    float: left;
    margin-top: 30px;
}

.btn-secondary:hover {
    color: #212529;
    background-color: #aab3bc;
    border-color: #aab3bc;
}

.btn-primary {
    color: #fff;
    background-color: #1177d1;
    border-color: #1177d1;
    float: right;
    margin-top: 30px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0e63ae;
    border-color: #0d5ca2;
}


.submitbtns {
    float: right;
}
