/** Bits that can appear on any page. */
.path-mod-cloudexam .statedetails {
    display: block;
    font-size: 0.7em;
}

/** Attempt and review pages **/

#page-mod-cloudexam-attempt #page .controls,
#page-mod-cloudexam-summary #page .controls,
#page-mod-cloudexam-review #page .controls {
    text-align: center;
    margin: 8px auto;
}

#page-mod-cloudexam-attempt .submitbtns,
#page-mod-cloudexam-review .submitbtns {
    clear: left;
    text-align: left;
    padding-top: 1.5em;
}

#page-mod-cloudexam-attempt .submitbtns .mod_cloudexam-next-nav,
#page-mod-cloudexam-review .submitbtns .mod_cloudexam-next-nav {
    float: right;
}

.path-mod-cloudexam .mod_cloudexam-redo_question_button {
    margin: 0;
}

.path-mod-cloudexam input[type="submit"].mod_cloudexam-redo_question_button {
    padding: 2px 0.8em;
    font-size: 1em;
}

#page-mod-cloudexam-attempt .mod_cloudexam-blocked_question_warning .que .formulation,
#page-mod-cloudexam-review .mod_cloudexam-blocked_question_warning .que .formulation {
    background: #eee;
    border: 1px solid #dcdcdc;
}

body.jsenabled .questionflagcheckbox {
    display: none;
}

#page-mod-cloudexam-attempt #connection-ok,
#page-mod-cloudexam-attempt #connection-error {
    position: fixed;
    top: 0;
    width: 80%;
    left: 10%;
    color: #555;
    border-radius: 0 0 10px 10px;
    box-shadow: 5px 5px 20px 0 #666;
    padding: 1em 1em 0;
    z-index: 10000;
}

#page-mod-cloudexam-attempt #connection-error {
    background-color: #fcc;
}

#page-mod-cloudexam-attempt #connection-ok {
    background-color: #cfb;
    width: 60%;
    left: 20%;
}

/** Mod cloudexam attempt **/
.generalbox#passwordbox {
    /* Should probably match .generalbox#intro above */
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#passwordform {
    margin: 1em 0;
}

/* Question navigation block. */
#cloudexamnojswarning {
    color: red;
}

#cloudexamnojswarning {
    font-size: 0.7em;
    line-height: 1.1;
}

.jsenabled #cloudexamnojswarning {
    display: none;
}

.path-mod-cloudexam #user-picture {
    margin: 0.5em 0;
}

.path-mod-cloudexam #user-picture img {
    width: auto;
    height: auto;
    vertical-align: bottom;
}

.path-mod-cloudexam #mod_cloudexam_navblock h3.mod_cloudexam-section-heading {
    padding: 0.7em 0 0;
    margin: 0;
    clear: both;
}

.path-mod-cloudexam #mod_cloudexam_navblock h3.mod_cloudexam-section-heading:first-child {
    padding-top: 0;
}

.path-mod-cloudexam .qnbutton {
    display: block;
    position: relative;
    float: left;
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
    margin: 0.3em 0.3em 0.3em 0;
    padding: 0;
    border: 1px solid #bbb;
    background: #ddd;
    text-align: center;
    line-height: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

.path-mod-cloudexam .qnbutton:visited:hover,
.path-mod-cloudexam .qnbutton:link:hover {
    text-decoration: underline;
}

.path-mod-cloudexam .qnbutton .trafficlight,
.path-mod-cloudexam .qnbutton .thispageholder {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.path-mod-cloudexam .qnbutton.thispage {
    border-color: #666;
}

.path-mod-cloudexam .qnbutton.thispage .thispageholder {
    border: 1px solid #666;
}

.path-mod-cloudexam .qnbutton.flagged .trafficlight {
    background: url([[pix:cloudexam|navflagged]]) no-repeat top right;
}

.path-mod-cloudexam .qnbutton.blocked,
.path-mod-cloudexam .qnbutton.notyetanswered,
.path-mod-cloudexam .qnbutton.requiresgrading,
.path-mod-cloudexam .qnbutton.invalidanswer {
    background-color: white;
}

.path-mod-cloudexam .qnbutton.correct {
    background-color: #cfc;
}

.path-mod-cloudexam .qnbutton.correct .trafficlight {
    border-bottom: 3px solid #080;
}

.path-mod-cloudexam .qnbutton.partiallycorrect {
    background-color: #ffa;
}

.path-mod-cloudexam .qnbutton.notanswered,
.path-mod-cloudexam .qnbutton.incorrect {
    background-color: #fcc;
}

.path-mod-cloudexam .qnbutton.blocked {
    color: #999;
}

.path-mod-cloudexam .qnbutton.notanswered .trafficlight,
.path-mod-cloudexam .qnbutton.incorrect .trafficlight {
    border-top: 3px solid #800;
}

.path-mod-cloudexam .othernav {
    clear: both;
    margin: 0.5em 0;
}

.path-mod-cloudexam .othernav a,
.path-mod-cloudexam .othernav input {
    display: block;
    margin: 0.5em 0;
}

/* Countdown timer. */
#cloudexam-timer {
    display: none;
    margin-top: 1em;
}

#cloudexam-time-left {
    font-weight: bold;
}

#cloudexam-timer.timeleft15 {
    background: #fff;
}

#cloudexam-timer.timeleft14 {
    background: #fee;
}

#cloudexam-timer.timeleft13 {
    background: #fdd;
}

#cloudexam-timer.timeleft12 {
    background: #fcc;
}

#cloudexam-timer.timeleft11 {
    background: #fbb;
}

#cloudexam-timer.timeleft10 {
    background: #faa;
}

#cloudexam-timer.timeleft9 {
    background: #f99;
}

#cloudexam-timer.timeleft8 {
    background: #f88;
}

#cloudexam-timer.timeleft7 {
    background: #f77;
}

#cloudexam-timer.timeleft6 {
    background: #f66;
}

#cloudexam-timer.timeleft5 {
    background: #f55;
}

#cloudexam-timer.timeleft4 {
    background: #f44;
}

#cloudexam-timer.timeleft3 {
    background: #f33;
}

#cloudexam-timer.timeleft2 {
    background: #f22;
}

#cloudexam-timer.timeleft1 {
    background: #f11;
}

#cloudexam-timer.timeleft0 {
    background: #f00;
}

/** mod cloudexam mod **/
#page-mod-cloudexam-mod #id_reviewoptionshdr .fitem {
    width: 23%;
    margin-left: 10px;
}

#page-mod-cloudexam-mod #id_reviewoptionshdr fieldset.fgroup {
    width: 100%;
    text-align: left;
    margin-left: 0;
}

#page-mod-cloudexam-mod #id_reviewoptionshdr .fitem {
    float: left;
    width: 23%;
    clear: none;
}

#page-mod-cloudexam-mod #id_reviewoptionshdr .fitemtitle {
    width: 100%;
    font-weight: bold;
    text-align: left;
    height: 2.5em;
    margin-left: 0;
}

#page-mod-cloudexam-mod #id_reviewoptionshdr fieldset.fgroup {
    clear: left;
    margin: 0 0 1em;
}

#page-mod-cloudexam-mod #id_reviewoptionshdr fieldset.fgroup > span {
    float: left;
    clear: left;
    line-height: 1.7;
}

#page-mod-cloudexam-mod #id_reviewoptionshdr fieldset.fgroup span label {
    margin-left: 0.4em;
}

/** Mod cloudexam view **/
#page-mod-cloudexam-view .cloudexaminfo,
#page-mod-cloudexam-view #page .cloudexamgradefeedback,
#page-mod-cloudexam-view #page .cloudexamattempt {
    text-align: center;
}

#page-mod-cloudexam-view #page .cloudexamattemptsummary td p {
    margin-top: 0;
}

#page-mod-cloudexam-view table.cloudexamattemptsummary tr.bestrow td {
    border-color: #bce8f1;
    background-color: #d9edf7;
}

table.cloudexamattemptsummary .noreviewmessage {
    color: gray;
}

#page-mod-cloudexam-view .generaltable.cloudexamattemptsummary {
    margin-left: auto;
    margin-right: auto;
}

#page-mod-cloudexam-view .generalbox#feedback {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

#page-mod-cloudexam-view .generalbox#feedback h2 {
    margin: 0;
}

#page-mod-cloudexam-view .generalbox#feedback h3 {
    text-align: left;
}

#page-mod-cloudexam-view .generalbox#feedback .overriddennotice {
    text-align: center;
    font-size: 0.7em;
}

.cloudexamstartbuttondiv.cloudexamsecuremoderequired input,
.cloudexamstartbuttondiv.cloudexamsecuremoderequired button {
    display: none;
}

.jsenabled .cloudexamstartbuttondiv.cloudexamsecuremoderequired input,
.jsenabled .cloudexamstartbuttondiv.cloudexamsecuremoderequired button {
    display: inline;
}

.cloudexamattempt #mod_cloudexam_preflight_form {
    display: none;
}

#mod_cloudexam_preflight_form .femptylabel .fitemtitle {
    display: none;
}

.moodle-dialogue-base .moodle-dialogue.mod_cloudexam_preflight_popup {
    width: 600px;
}

.moodle-dialogue-base .moodle-dialogue.mod_cloudexam_preflight_popup .moodle-dialogue-wrap {
    overflow: hidden;
}

.moodle-dialogue-base .moodle-dialogue.mod_cloudexam_preflight_popup .moodle-dialogue-bd {
    padding: 0;
}

.moodle-dialogue-base .moodle-dialogue.mod_cloudexam_preflight_popup .moodle-dialogue-bd #mod_cloudexam_preflight_form legend {
    padding: 0 10px;
    margin: 0;
    border: 0 none;
}

.moodle-dialogue-base .moodle-dialogue.mod_cloudexam_preflight_popup .moodle-dialogue-bd #mod_cloudexam_preflight_form .fitem {
    margin-left: 10px;
}

.moodle-dialogue-base .moodle-dialogue.mod_cloudexam_preflight_popup .moodle-dialogue-bd #mod_cloudexam_preflight_form #fgroup_id_buttonar {
    padding: 10px 0 0;
    margin: 0;
}

.moodle-dialogue-base .moodle-dialogue.mod_cloudexam_preflight_popup .moodle-dialogue-content .moodle-dialogue-ft {
    margin: 0;
}
/* Standard Moodle rule that needs to be more specific here. */
.moodle-dialogue-bd #mod_cloudexam_preflight_form fieldset.hidden {
    display: inherit;
    visibility: inherit;
}

body.path-mod-cloudexam .gradedattempt,
body.path-mod-cloudexam table tbody tr.gradedattempt > td {
    border-color: #bce8f1;
    background-color: #d9edf7;
}

.cloudexamattemptcounts {
    clear: left;
    text-align: center;
    display: inline;
    margin-left: 20%;
}

#page-mod-cloudexam-view .cloudexamattemptcounts {
    display: block;
    margin-left: 0;
    margin-right: 0;
}

/** Mod cloudexam summary **/
#page-mod-cloudexam-summary #content {
    text-align: center;
}

#page-mod-cloudexam-summary .questionflag {
    vertical-align: text-bottom;
}

#page-mod-cloudexam-summary #cloudexam-timer {
    text-align: center;
    margin-top: 1em;
}

#page-mod-cloudexam-summary .submitbtns {
    margin-top: 1.5em;
}

@media print {
    .cloudexam-secure-window * {
        display: none;
    }
}

/** Mod cloudexam review **/
table.cloudexamreviewsummary {
    width: 100%;
}

table.cloudexamreviewsummary th.cell {
    padding: 1px 0.5em 1px 1em;
    font-weight: bold;
    text-align: right;
    width: 10em;
    background: #f0f0f0;
}

table.cloudexamreviewsummary td.cell {
    padding: 1px 1em 1px 0.5em;
    text-align: left;
    background: #fafafa;
}

/** Mod cloudexam make comment or override grade popup. **/
#page-mod-cloudexam-comment .mform {
    width: 100%;
}

#page-mod-cloudexam-comment .mform fieldset {
    margin: 0;
}

#page-mod-cloudexam-comment .que {
    margin: 0;
}

/** Mod cloudexam report **/
#page-mod-cloudexam-report h2.main {
    clear: both;
}

#page-mod-cloudexam-report div#commands,
#page-mod-cloudexam-report .controls {
    text-align: center;
}

#page-mod-cloudexam-report .dubious {
    background-color: #fcc;
}

#page-mod-cloudexam-report .highlight {
    border: 1px solid #bce8f1;
    background-color: #d9edf7;
}

#page-mod-cloudexam-report .negcovar {
    border: medium solid pink;
}

#page-mod-cloudexam-report .toggleincludeauto {
    text-align: center;
}

#page-mod-cloudexam-report .gradetheselink {
    font-size: 0.8em;
}

#page-mod-cloudexam-report .mform fieldset.fgroup span label {
    margin-right: 14px;
}

#page-mod-cloudexam-report table th {
    white-space: normal;
}

#page-mod-cloudexam-report table#attempts td,
#page-mod-cloudexam-report table.cloudexamresponseanalysis td {
    word-wrap: break-word;
    max-width: 20em;
}

#page-mod-cloudexam-report table.titlesleft td.c0 {
    font-weight: bold;
}

#page-mod-cloudexam-report table .numcol {
    text-align: center;
    vertical-align: middle;
}

#page-mod-cloudexam-report table#attempts {
    clear: both;
    width: 80%;
    margin: 0.2em auto;
}

#page-mod-cloudexam-report table#attempts .header,
#page-mod-cloudexam-report table#attempts .cell {
    padding: 4px;
}

#page-mod-cloudexam-report table#attempts .header .commands {
    display: inline;
}

#page-mod-cloudexam-report table#attempts .picture {
    width: 40px;
}

#page-mod-cloudexam-report table#attempts td {
    border-left-width: 1px;
    border-right-width: 1px;
    border-left-style: solid;
    border-right-style: solid;
    vertical-align: middle;
}

#page-mod-cloudexam-report table#attempts .header {
    text-align: left;
}

#page-mod-cloudexam-report table#attempts .picture {
    text-align: center;
}

#page-mod-cloudexam-report table#attempts.grades span.que,
#page-mod-cloudexam-report table#attempts span.avgcell {
    white-space: nowrap;
}

#page-mod-cloudexam-report table#attempts span.que .requiresgrading {
    white-space: normal;
}

#page-mod-cloudexam-report table#attempts .questionflag {
    vertical-align: text-bottom;
    padding-left: 6px;
}

#page-mod-cloudexam-report .graph.flexible-wrap {
    text-align: center;
    overflow: auto;
}

#page-mod-cloudexam-report #cachingnotice {
    margin-bottom: 1em;
    padding: 0.2em;
}

#page-mod-cloudexam-report #cachingnotice .singlebutton {
    margin: 0.5em 0 0;
}

#page-mod-cloudexam-report .bold .reviewlink {
    font-weight: normal;
}

#page-mod-cloudexam-report tr.lastrowforattempt {
    border-bottom: lightgrey solid 0.2em;
}

/** Mod cloudexam edit **/
#page-mod-cloudexam-edit .statusbar {
    margin: 0.6em 0.4em;
}

#page-mod-cloudexam-edit .statusdisplay {
    background-color: #ffc;
    clear: both;
    margin: 0.3em 0;
    padding: 1px 10px;
}

#page-mod-cloudexam-edit .statusdisplay p {
    margin: 4px 0;
}

#page-mod-cloudexam-edit .mod_cloudexam-edit-top-controls {
    position: relative;
}
#page-mod-cloudexam-edit .mod_cloudexam-edit-action-buttons {
    display: block;
    min-height: 2.85em;
}

#page-mod-cloudexam-edit .maxgrade,
#page-mod-cloudexam-edit .totalpoints {
    position: absolute;
    right: 0;
    margin: -2.85em 0 0;
    padding: .2em;
}

#page-mod-cloudexam-edit .maxgrade label {
    display: inline;
}
#page-mod-cloudexam-edit .maxgrade input[type="submit"] {
    margin: 0;
}

#page-mod-cloudexam-edit li.activity > div,
#page-mod-cloudexam-edit li.pagenumber {
    position: relative;
}

#page-mod-cloudexam-edit ul.section li.pagenumber:first-child .add-menu-outer .menu > :last-child,
#page-mod-cloudexam-edit .last-add-menu .add-menu-outer .menu > :last-child {
    display: none;
}

#page-mod-cloudexam-edit .last-add-menu {
    position: relative;
    height: 1.5em;
    margin: 0 20px;
}

#page-mod-cloudexam-edit .add-menu-outer {
    position: absolute;
    right: 0;
}

#page-mod-cloudexam-edit .slotnumber {
    background-color: #d3d3d3;
    text-align: center;
    margin: 0.1em 0.5em;
    min-width: 2em;
    display: inline-block;
}

#page-mod-cloudexam-edit .section-heading {
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 0;
    height: 40px;
}

#page-mod-cloudexam-edit .section-heading .instancesectioncontainer {
    display: inline;
}

#page-mod-cloudexam-edit .section-heading .instancesectioncontainer h3 {
    display: inline;
    color: #999;
}

#page-mod-cloudexam-edit .section-heading .editing_section,
#page-mod-cloudexam-edit .section-heading .editing_delete {
    margin-left: 10px;
}

#page-mod-cloudexam-edit .section-heading .sectioninstance {
    position: relative;
}

#page-mod-cloudexam-edit .section-heading .instancesection {
    white-space: nowrap;
    max-width: 72%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: bottom;
}

#page-mod-cloudexam-edit .section-heading form {
    display: inline;
    position: relative;
    top: 3px;
    left: -7px;
}

#page-mod-cloudexam-edit .section-heading form input {
    font-size: 24px;
    font-weight: bold;
    width: 50%;
}

#page-mod-cloudexam-edit .section-heading .instanceshufflequestions {
    float: right;
    margin: 0.3em 20px 0 0;
}

.instanceshufflequestions [type="checkbox"] {
    vertical-align: middle;
    margin-right: .5rem;
}

#page-mod-cloudexam-edit ul.section {
    margin: 0;
    padding: 0 20px;
}

#page-mod-cloudexam-edit ul.slots {
    margin: 0;
}

#page-mod-cloudexam-edit ul.slots li.section {
    border: 0;
}

#page-mod-cloudexam-edit ul.slots li.section .content {
    background-color: #fafafa;
    padding: 1px 0;
}

#page-mod-cloudexam-edit ul.slots li.section {
    list-style: none;
    margin: 0;
    padding: 0;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity {
    background: #e6e6e6;
    margin: 3px 0;
    padding: 0.2em;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity.page {
    background: transparent;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity.page h4 {
    display: inline;
    font-weight: normal;
    font-size: 1em;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity .instancemaxmarkcontainer {
    background: white;
    padding: 0.2em;
    margin: 0.4em;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity .instancemaxmarkcontainer .editicon {
    width: 13px;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity .instancemaxmarkcontainer.infoitem {
    background: transparent;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity .instancemaxmarkcontainer form {
    display: inline;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity .instancemaxmark {
    display: inline-block;
    text-align: right;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity .page_split_join_wrapper {
    position: absolute;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity .page_split_join {
    position: relative;
    left: -20px;
    top: -7px;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity .instancemaxmark.decimalplaces_0 {
    min-width: 1.3em;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity .instancemaxmark.decimalplaces_1 {
    min-width: 2em;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity .instancemaxmark.decimalplaces_2 {
    min-width: 2.6em;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity .instancemaxmark.decimalplaces_3 {
    min-width: 3.2em;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity .instancemaxmark.decimalplaces_4 {
    min-width: 3.7em;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity .instancemaxmark.decimalplaces_5 {
    min-width: 4.3em;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity .instancemaxmark.decimalplaces_6 {
    min-width: 4.8em;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity .instancemaxmark.decimalplaces_7 {
    min-width: 5.45em;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity .edit_icon,
#page-mod-cloudexam-edit ul.slots li.section li.activity a.preview,
#page-mod-cloudexam-edit ul.slots li.section li.activity .editing_delete,
#page-mod-cloudexam-edit ul.slots li.section li.activity .editing_maxmark {
    margin: 0 2px;
}

#page-mod-cloudexam-edit ul.slots li.section.only-has-one-slot li.activity .editing_move,
#page-mod-cloudexam-edit ul.slots li.section.only-has-one-slot li.activity .editing_delete {
    visibility: hidden;
}

#page-mod-cloudexam-edit ul.slots.only-one-section li.section.only-has-one-slot li.activity .editing_delete {
    visibility: visible;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity .question_dependency_wrapper {
    position: absolute;
    top: 0;
    right: 0;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity .question_dependency_wrapper.question_dependency_cannot_depend {
    display: none;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity .question_dependency_wrapper .currentlink,
#page-mod-cloudexam-edit ul.slots li.section li.activity .question_dependency_wrapper .cm-edit-action {
    position: relative;
    left: 20px;
    top: -1em;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity .activityinstance {
    display: block;
    min-height: 1.7em;
    position: absolute;
    top: 0;
    left: 5em;
    width: 100%;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity .mod-indent-outer {
    padding-left: 22px;
}

#page-mod-cloudexam-edit ul.slots .activityinstance form {
    display: inline;
}

#page-mod-cloudexam-edit span.editinstructions {
    right: 0;
}

#page-mod-cloudexam-edit ul.slots .activityinstance span.instancename {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 70%;
    display: inline-block;
    height: 20px;
}

#page-mod-cloudexam-edit ul.slots .activityinstance span.instancename img {
    margin: 0 0.2em;
}

#page-mod-cloudexam-edit #categoryquestions .questionname,
#page-mod-cloudexam-edit ul.slots li.activity div.activityinstance .questionname {
    font-weight: bold;
    color: #555;
}

#page-mod-cloudexam-edit ul.slots li.activity div.activityinstance .questiontext {
    color: #555;
}

#page-mod-cloudexam-edit .section .activity .editing_move {
    position: absolute;
    left: 0;
    top: 0;
}

#page-mod-cloudexam-edit ul.slots li.activity div.activityinstance .mod_cloudexam_random_qbank_link {
    font-size: 0.8em;
}

#page-mod-cloudexam-edit ul.slots .activityinstance img.activityicon {
    float: left;
    margin: .2em 0 0;
    padding: 0;
}

#page-mod-cloudexam-edit .section .activity .actions {
    white-space: nowrap;
    background: #e6e6e6;
    padding: 0.1em 0;
}

#page-mod-cloudexam-edit .mod_cloudexam_edit_forms {
    display: none;
}

#categoryquestions > tbody > tr:nth-of-type(even) {
    background: #e4e4e4;
}

#categoryquestions > tbody > tr:nth-of-type(even).highlight {
    background-color: #afa;
}

#categoryquestions .header {
    text-align: center;
    padding: 0 2px;
    border: 0 none;
}

#categoryquestions th.modifiername .sorters,
#categoryquestions th.creatorname .sorters {
    font-weight: normal;
    font-size: 0.8em;
}

#categoryquestions td.modifiername,
#categoryquestions td.creatorname {
    line-height: 1em;
}

#categoryquestions td.modifiername span.date,
#categoryquestions td.creatorname span.date {
    font-weight: normal;
    font-size: 0.8em;
}

table#categoryquestions {
    width: 100%;
    overflow: hidden;
    table-layout: fixed;
}

#categoryquestions .iconcol {
    width: 15px;
    text-align: center;
    padding: 0;
}

#categoryquestions .checkbox {
    width: 19px;
    text-align: center;
    padding: 0;
}

#categoryquestions .qtype {
    text-align: center;
}

#categoryquestions .qtype {
    width: 28px;
    padding: 0;
}

#categoryquestions .questiontext {
    position: relative;
    zoom: 1;
    padding-left: 0.3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#categoryquestions .questionname {
    white-space: nowrap;
    overflow: hidden;
    zoom: 1;
    position: relative;
}

#categoryquestions .questiontext p {
    margin: 0;
}

#page-mod-cloudexam-edit table#categoryquestions td,
#page-mod-cloudexam-edit table#categoryquestions th {
    overflow: hidden;
    white-space: nowrap;
}

.mod_cloudexam_qbank_dialogue {
    width: 80%;
    min-height: 200px;
}

.mod_cloudexam_qbank_dialogue.moodle-dialogue-fullscreen {
    width: 100%;
}

.mod_cloudexam_qbank_dialogue .questionbankloading {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    text-align: center;
    opacity: 0.5;
    padding-top: 50px;
}

.mod_cloudexam_qbank_dialogue #advancedsearch label {
    font-size: 100%;
}

.modulespecificbuttonscontainer {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.questionbankformforpopup .modulespecificbuttonscontainer {
    padding-top: 10px;
    padding-left: 0;
}

.cloudexamquestionlistcontrols {
    text-align: center;
}

.categoryinfo {
    padding: 0.3em;
}

.path-mod-cloudexam .gradingdetails {
    font-size: small;
}

#page-mod-cloudexam-edit div#repaginatedialog .mform {
    margin-left: auto;
    margin-right: auto;
}

#page-mod-cloudexam-edit div.container div.generalbox {
    position: relative;
    display: block;
    border: 0 none;
    margin: 0;
    padding: 0;
}

#page-mod-cloudexam-edit .paging {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.1em 0.3em;
    display: block;
    background-color: #ddd;
}

#page-mod-cloudexam-edit #page-footer {
    clear: both;
    padding-top: 1em;
}

#page-mod-cloudexam-edit .categoryinfofield {
    font-style: italic;
}

#page-mod-cloudexam-edit .categorynamefield {
    font-weight: bold;
}

#page-mod-cloudexam-edit .questionsortoptions {
    background-color: #ddd;
}

#page-mod-cloudexam-edit div.questionbank .categorysortopotionscontainer {
    padding-top: 0.5em;
    margin-top: 0.3em;
}

#page-mod-cloudexam-edit div.questionbank .categoryquestionscontainer,
.questionbank .categorysortopotionscontainer,
.questionbank .categorypagingbarcontainer,
.questionbank .categoryselectallcontainer {
    background-color: #fff;
}

/* Bulk edit actions */

#page-mod-cloudexam-edit .selectmultiplecommandbuttons {
    margin: 0.6em 0.4em;
}

#page-mod-cloudexam-edit .btn-group.selectmultiplecommand,
#page-mod-cloudexam-edit .btn-group.selectmultiplecommandbuttons,
#page-mod-cloudexam-edit .select-multiple-checkbox {
    display: none;
}

#page-mod-cloudexam-edit.select-multiple .selectmultiplecommand,
#page-mod-cloudexam-edit.select-multiple .selectmultiplecommandbuttons,
#page-mod-cloudexam-edit.select-multiple .select-multiple-checkbox {
    display: inherit;
}

#page-mod-cloudexam-edit.select-multiple .selectmultiplecommandbuttons .separator {
    position: relative;
    float: left;
    padding: .5rem 0;
}

#page-mod-cloudexam-edit #questionselectall {
    padding-right: .1rem;
}

#page-mod-cloudexam-edit #questiondeselectall {
    padding-left: .1rem;
}

#page-mod-cloudexam-edit.select-multiple input.select-multiple-checkbox[type="checkbox"] {
    display: inline;
}

#page-mod-cloudexam-edit.select-multiple .mod-cloudexam-edit-content .section .activity .editing_move,
#page-mod-cloudexam-edit.select-multiple .mod-cloudexam-edit-content .section .activity .commands {
    display: none;
}

#page-mod-cloudexam-edit.select-multiple .mod-cloudexam-edit-content .section .page_split_join_wrapper {
    display: none;
}

#page-mod-cloudexam-edit.select-multiple .mod-cloudexam-edit-content .section .activity .actions .editing_delete,
#page-mod-cloudexam-edit.select-multiple .mod-cloudexam-edit-content .section .activity .actions .editing_maxmark {
    display: none;
}

#page-mod-cloudexam-edit.select-multiple#page-mod-cloudexam-edit .maxgrade,
#page-mod-cloudexam-edit.select-multiple .mod-cloudexam-edit-content .last-add-menu {
    display: none;
}

#page-mod-cloudexam-edit.select-multiple .mod-cloudexam-edit-content .section-heading,
#page-mod-cloudexam-edit.select-multiple .mod-cloudexam-edit-content .section-heading form,
#page-mod-cloudexam-edit.select-multiple .mod-cloudexam-edit-content .section-heading .instancesectioncontainer,
#page-mod-cloudexam-edit.select-multiple .mod-cloudexam-edit-content .section-heading .instanceshufflequestions,
#page-mod-cloudexam-edit.select-multiple .mod-cloudexam-edit-content .section-heading .instancesectioncontainer h3 {
    display: none;
}

#page-mod-cloudexam-edit.select-multiple .mod-cloudexam-edit-content .edit-toolbar .m-b-1 {
    display: none;
}

#page-mod-cloudexam-edit.select-multiple#page-mod-cloudexam-edit ul.slots li.section li.activity .mod-indent-outer {
    padding-left: 3px;
}

#page-mod-cloudexam-edit .section .summary .iconsmall,
#page-mod-cloudexam-edit .section .activity .iconsmall {
    float: left;
}

/* Base theme needs extra support. */
#page-mod-cloudexam-edit ul.slots li.section ul.section {
    list-style: none;
}

/** Print formatting for attempt and review pages **/

@media print {
    #page-mod-cloudexam-attempt header.navbar,
    #page-mod-cloudexam-review header.navbar {
        display: none;
    }

    #page-mod-cloudexam-attempt #dock,
    #page-mod-cloudexam-review #dock {
        display: none;
    }

    #page-mod-cloudexam-attempt #page #page-header h1,
    #page-mod-cloudexam-review #page #page-header h1 {
        display: none;
    }

    #page-mod-cloudexam-attempt #region-main,
    #page-mod-cloudexam-review #region-main {
        width: 100%;
    }

    #page-mod-cloudexam-attempt #block-region-side-pre,
    #page-mod-cloudexam-attempt #block-region-side-post,
    #page-mod-cloudexam-review #block-region-side-pre,
    #page-mod-cloudexam-review #block-region-side-post {
        display: none;
    }

    #page-mod-cloudexam-attempt #page-footer,
    #page-mod-cloudexam-review #page-footer {
        display: none;
    }

    #page-mod-cloudexam-attempt .editquestion,
    #page-mod-cloudexam-review .editquestion,
    #page-mod-cloudexam-attempt .questionflag,
    #page-mod-cloudexam-review .questionflag {
        display: none;
    }

    #page-mod-cloudexam-attempt .submitbtns,
    #page-mod-cloudexam-review .submitbtns {
        display: none;
    }

    #page-mod-cloudexam-review .que .commentlink {
        display: none;
    }

    #page-mod-cloudexam-attempt .que,
    #page-mod-cloudexam-review .que {
        page-break-inside: avoid;
    }
}

/**EDUNAO PATCH**/

#page-mod-cloudexam-view #messagetostudents{
    text-align: center;
    font-size: xx-large;
}

#page-mod-cloudexam-pages-waiting_view div#messagetostudents,
#page-mod-cloudexam-pages-waiting_view p#title,
#page-mod-cloudexam-pages-waiting_view p#countdown {
    font-size: xx-large;
    padding-bottom: 2%;
}

#page-mod-cloudexam-view .cloudexamattempt .singlebutton,
#page-mod-cloudexam-view .cloudexamattempt .continuebutton {
    margin-bottom: 10px;
}

#page-mod-cloudexam-edit ul.slots .activityinstance>a{
    display: inline;
    text-indent: 0;
    padding-left: 0;
}

#page-mod-cloudexam-edit ul.slots li.section li.activity .instancemaxmarkcontainer{
    padding: 0;
    margin: 0 .4em;
}

/**END EDUNAO PATCH**/