#page-mod-cloudexam-report #manualgradingform {
    width: 100%;
}

#page-mod-cloudexam-report #manualgradingform.mform br {
    clear: none;
}

#page-mod-cloudexam-report #manualgradingform.mform .clearfix:after {
    clear: none;
}

#page-mod-cloudexam-report #manualgradingform .que {
    margin-bottom: 0.7em;
}
