{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_cloudexam/modal_add_random_question

    Modal for adding a random question to a cloudexam activity.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * title A cleaned string (use clean_text()) to display.
    * body HTML content for the boday

    Example context (json):
    {
        "title": "Example modal",
        "body": "Some example content for the body"
    }
}}

{{< core/modal }}
    {{$body}}
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active"
                data-toggle="tab"
                href="#existing-category-{{uniqid}}"
                role="tab">
                {{#str}} existingcategory, mod_cloudexam {{/str}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                data-toggle="tab"
                href="#new-category-{{uniqid}}"
                role="tab">
                {{#str}} newcategory, mod_cloudexam {{/str}}
            </a>
        </li>
    </ul>
    <div class="tab-content" data-region="tab-content">
        <div class="text-sm-center p-t-2" data-region="loading-container">
            {{> core/loading }}
        </div>
        <div class="tab-pane active p-t-1"
            id="existing-category-{{uniqid}}"
            role="tabpanel"
            data-region="existing-category-container">
        </div>
        <div class="tab-pane p-t-1"
            id="new-category-{{uniqid}}"
            role="tabpanel"
            data-region="new-category-container">
        </div>
    </div>
    {{/body}}
{{/ core/modal }}
